<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <%= favicon_tag "img/favicon.png" %>
    <title><%= current_page.data.title || "Scouter" %></title>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "main-head" %>
  </head>

  <body class="">
    <%= yield %>

    <script src="https://cdn.jsdelivr.net/g/jquery@3.0.0-alpha1,bootstrap@3.3.5"></script>
    <%= javascript_include_tag "main" %>
  </body>
</html>
