<% totalScore = 0 %>
<% matches = Array.new() %>
<% scores = Array.new() %>
<% matches = Array.new %>
<% autonomous = Array.new() %>
<% autonomous << Array.new() << Array.new() << Array.new() %>
<% counted = false %>
<% data.matches.values.sort_by(&:match).select{ |item| item[:team] == match_team }.each do |matchData| %>
    <% loops = 0 %>
    <% totalScore += matchData.team_score %>
    <% matches << matchData.match %>
    <% matchData.auto.each do |auto| %>
      <% if !counted %>
        <% autonomous[0] << auto.keys.join.to_s %>
      <% end %>

      <% if !counted %>
        <% autonomous[1] << Array.new() %>
      <% end %>
      <% autonomous[1][loops] << auto.values.join.to_i %>
      <% loops += 1 %>
    <% end %>
    <% counted = true %>
<% end %>

<% loops = 0 %>
<% autonomous[1].each do |values| %>
  <% temp = 0 %>
  <% values.each do |value| %>
    <% temp += value %>
  <% end %>
  <% autonomous[2] << (temp.to_f/matches.length).round(2) %>
  <% loops += 1 %>
<% end %>

Team: <%= match_team %>
<br>
Total Score: <%= totalScore %>
<br>
Matches:
<% matches.each do |match| %>
  <a href="/match/<%= match %>.html"><%= match %> </a>
<% end %>
<br>
Average Score: <%= totalScore/matches.length %>
<br>
<br>
Auto Value Names: <%= autonomous[0] %>
<br>
Auto Values: <%= autonomous[1] %>
<br>
Auto Averages: <%= autonomous[2] %>

<br>
Full Array: <%= autonomous %>

<br>

<% loops = 0 %>
<% autonomous[0].each do |auto| %>
  <%= auto %>:
  <% autonomous[1][loops].each do |value| %>
    <%= value %>
  <% end %>
   Avg: <%= autonomous[2][loops] %>
  <% loops += 1 %>
  <br>
<% end %>
<%= autonomous[1][0] %>

<div class="row">
  <% loops = 0 %>
  <% autonomous.first.each do |autonomous_variable| %>
    <div class="col-md-4">
      name: <%= autonomous_variable %>
      <div class="ct-chart" id="<%= autonomous_variable %>"></div>
    </div>
    <% loops += 1 %>
  <% end %>
</div>
<script>
  var options = {
    width: 300,
    height: 300
  };

  <% loops = 0 %>
  <% autonomous.first.each do |autonomous_variable| %>
    new Chartist.Line('#<%= autonomous_variable %>', {
      labels: ['1', '2', '3', '4'],
      series: [<%= autonomous[1][loops] %>]
    }, options);
    <% loops += 1 %>
  <% end %>


</script>
